body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.1s;
}
